// Colours
$systemBackground: #ffffff;
$secondarySystemBackground: #f2f2f7;
$label: #000000;
$secondaryLable: #3c3c43;
$lightGray: #aaaaaa;
$darkGray: #555555;

// Breakpoints
// -------------------
$breakpoints: (
  'short': (
    max-height: 768px
  ),
  'tall': (
    min-height: 1000px
  ),
  'mobile': (
    max-width: 768px
  ),
  'tablet': (
    max-width: 1024px
  ),
  'desktop': (
    min-width: 1200px
  ),
  'display': (
    min-width: 1800px
  )
);

// Breakpoints Grid Settings
// -------------------
$grid-settings: (
  base: (
    container-columns: 12,
    gutter: 2%,
    max-width: 980px
  ),
  desktop: (
    container-columns: 12,
    gutter: 2%,
    max-width: 1120px
  ),
  tablet: (
    container-columns: 12,
    gutter: 2%,
    max-width: 760px
  ),
  mobile: (
    container-columns: 12,
    gutter: 5%
  )
);
